<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="server=.;database=DB_Local;uid=sa;pwd=123456"/>-->
    <add name="Conn949" connectionString="server=dbttnd.vmgmedia.vn;database=TTND_Services;uid=ttndservices;pwd=ttND53r7vice$;Connection Timeout=300" />
    <add name="ConnGamePortal" connectionString="server=sv56.vmgmedia.vn;database=ContentPortal;uid=cportal;pwd=cportal123cportal;Connection Timeout=300"/>   
    <add name="ConnTTND" connectionString="server=db168.vmgmedia.vn; database=TTND; uid=ttndacc; pwd=Swe8234Ue3ND"/>
  </connectionStrings>
</configuration>